<?xml version='1.0' encoding='UTF-8'?>
<jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin_-Descriptor plugin="publish-over-ssh@1.13">
  <hostConfigurations>
    <jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
      <name>oms-prod</name>
      <hostname>{{ repo_host }}</hostname>
      <username>{{ ssh_user }}</username>
      <secretPassword>{{ ssh_pass }}</secretPassword>
      <remoteRootDir>{{ oms_prod_repo }}</remoteRootDir>
      <port>22</port>
      <commonConfig class="jenkins.plugins.publish_over_ssh.BapSshCommonConfiguration">
        <secretPassphrase>vubZQFsr+J0R11O+5kl+LOIACaHl0FOjPL4/8kp8yMM=</secretPassphrase>
        <key></key>
        <keyPath></keyPath>
        <disableAllExec>false</disableAllExec>
      </commonConfig>
      <timeout>300000</timeout>
      <overrideKey>false</overrideKey>
      <disableExec>false</disableExec>
      <keyInfo>
        <secretPassphrase>kX0MGm9qXdsyJrVRTTTMP137AoN/V+i8mG8Hi9h4TK3Lp4AOHnEziAi8A1DYFxIX</secretPassphrase>
        <key></key>
        <keyPath></keyPath>
      </keyInfo>
    </jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
    <jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
      <name>oms-dev</name>
      <hostname>{{ repo_host }}</hostname>
      <username>{{ ssh_user }}</username>
      <secretPassword>{{ ssh_pass }}</secretPassword>
      <remoteRootDir>{{ oms_dev_repo }}</remoteRootDir>
      <port>22</port>
      <commonConfig class="jenkins.plugins.publish_over_ssh.BapSshCommonConfiguration" reference="../../jenkins.plugins.publish__over__ssh.BapSshHostConfiguration/commonConfig"/>
      <timeout>300000</timeout>
      <overrideKey>false</overrideKey>
      <disableExec>false</disableExec>
      <keyInfo>
        <secretPassphrase>kX0MGm9qXdsyJrVRTTTMP137AoN/V+i8mG8Hi9h4TK3Lp4AOHnEziAi8A1DYFxIX</secretPassphrase>
        <key></key>
        <keyPath></keyPath>
      </keyInfo>
    </jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
  </hostConfigurations>
  <commonConfig reference="../hostConfigurations/jenkins.plugins.publish__over__ssh.BapSshHostConfiguration/commonConfig"/>
  <defaults class="jenkins.plugins.publish_over_ssh.options.SshPluginDefaults"/>
</jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin_-Descriptor>