---

- name: Install MySQL Community repository
  yum: name=http://repo.mysql.com/mysql-community-release-el7-5.noarch.rpm state=present

- name: Install MySQL
  yum: name=mysql state=present

- name: Start MySQL Server 
  service: name=mysql state=started enabled=yes

- name: update mysql root password for all root accounts
  mysql_user: name=root host=localhost password={{ root_db_password }}



# ????????? ?/? OMS ?? ????????????
- mysql_user: name=root host=localhost password={{ root_db_password }}

- name: Create the database's
  mysql_db:
    name: "{{ database_oms }} "
    collation: "default('utf8_general_ci')"
    encoding: "default('utf8')"
    state: present

- name: Create MySQL user for user
  mysql_user: name={{ user_db_oms }} priv={{ database_oms }}.*:ALL password={{ password_db_oms }} login_user=root 






# ???? 1. ????????? ???????   ?? ???????, ???? ???? ????????? ????????, ????????? ?????? ?????? ? my.cnf:
# ID ???????  Master - 1, Slave -2 ? ?.?.
# ???? ?? ????????? ????
# ????? ??, ??? ????????????
- name: CreateMasterDB
  lineinfile: 
    dest=/etc/my.cnf 
    insertafter="[mysqld]"  
    regexp="server-id"
    line="server-id = 1"
# regexp  (added in 1.7)
  lineinfile: 
    dest=/etc/my.cnf 
    insertafter="[mysqld]"  
    regexp="log_bin"
    line="log_bin = /var/log/mysql/mysql-bin.log"
  lineinfile: 
    dest=/etc/my.cnf 
    insertafter="[mysqld]"  
    regexp="binlog_do_db"
    line="binlog_do_db = {{ name_db_replication }}"

# ?????: ??????? ????????? ????????? ?????? ??? ????????? ??????????
# - name: generate server-id
#   shell: hostname -I | sed -e 's/ \+\([a-z0-9]\+\:\)\+[a-z0-9]\+//' | sed -e 's/ /\n/' | grep -v '^$' | tail -1 | awk -F. '{print $3 * 256 + $4}'
#   register: mysql_server_id
# 
# - name: check replication slave status
#   mysql_replication: mode=getslave
#   ignore_errors: true
#   register: slave
# 
# - name: get master replication status
#   mysql_replication: mode=getmaster login_user={{ mysql_users.phoenixcorp.user }} login_password={{ mysql_users.phoenixcorp.password }}
#   delegate_to: "{{ groups['mysql-master'][0] }}"
#   register: replication
#   when: slave|failed
# 
# - name: define master in slave
#   mysql_replication: mode=changemaster master_host={{ groups['mysql-master'][0] }} master_log_file={{ replication.File }} master_log_pos={{ replication.Position }} master_user={{ mysql_users.slave.user }} master_password={{ mysql_users.slave.password }}
#   when: slave|failed
# 
# - name: start slave
#   mysql_replication: mode=startslave
# 
# - name: mysql backup script symlink
#   cron: name="database backup" hour={{ item.0 }} minute={{ item.0 }} user="root" job="/home/live/scripts/cron/backup_db.sh >> /var/log/backup.log" cron_file=backup_database
#   when: "'{{ item.1 }}' == '{{ inventory_hostname }}'"
#   with_indexed_items: groups['mysql-slave']
# 
#  ???
#   # If the database is replicated the users
#   # to be used for replication:
#   mysql_repl_user:                          
#     - name: 056db
#       pass: 056db
# 
#   # The role of this server in replication:
#   mysql_repl_role: master
# 
#   # A unique id for the mysql server (used in replication):
#   mysql_db_id: 7
# 













#????????????? Mysql:

- name: restart mysql.
  command: systemctl start mysqld
  sudo: yes




# ???? 2. ????? ?? ??????????  
# ???????? ??????? ???????????, ? ??? ????? ???? ????????? ??????????# 

- mysql_user: name={{ name_user_replic }} password={{ password_user_replic }} priv=*.*:ALL state=present

# ??? 
# GRANT REPLICATION SLAVE ON *.* TO 'slave_user'@'%' IDENTIFIED BY 'password' FLUSH PRIVILEGES;
# # ???? ????? ??????????? slave_user ? ??????? password
# 
# ????, ????????? ??? ??????? ? ????? ???? ?????:
# 
# USE newdatabase;
# FLUSH TABLES WITH READ LOCK;
# ?????????? ?????? ??????-???????:
  
  
# ???? 3. ???????? - ???? ???? ?????:
# 
# mysqldump -u root -p newdatabase > newdatabase.sql
- mysql_db: state=dump name={{ name_db_replic }} target=/tmp/{{ name_dumpfile }}

# Copy database dump file to remote host and restore it to database ???
- copy: src=/tmp/{{ name_dumpfile }} dest=/tmp
- mysql_db: name={{ name_db_replic }} state=import target=/tmp/{{ name_dumpfile }}


# ????????????? ???????:
# 
# UNLOCK TABLES;
# 
# 
# ???? 4. ????????? ???? ?? ?????? 
# 
# ? ??????? mysql ?? ?????? ????????? ???? ? ????? ?? ??"??:
# 
# CREATE DATABASE newdatabase;
#   ????? ????? ????????? ???? (?? bash):
# 
# mysql -u root -p newdatabase < newdatabase.sql
# 
# ???? 5. ????????? ??????
# 
# ? ?????????? my.cnf ?? ?????? ????????? ??????? ???? ?????????:
# 
# server-id = 2
# 
# # ???? ?? relay ????
# relay-log = /var/log/mysql/mysql-relay-bin.log
# 
#   # ???? ?? bin ???? ?? ???????
# log_bin = /var/log/mysql/mysql-bin.log
# 
# # ???? ????? ??? ??????????
# binlog_do_db = newdatabase
# 
# ???? 6. ?????? ??????, ??? ????? ????????? ??????? ????????? ??????????? ?? ???????. 
# 
# ? ??????? mysql ?? ?????? ????????? ???????? ?????:
# 
# CHANGE MASTER TO MASTER_HOST='10.10.0.1', MASTER_USER='slave_user', MASTER_PASSWORD='password',
# MASTER_LOG_FILE = 'mysql-bin.000001', MASTER_LOG_POS = 107;
# # ??? ??????? ???????? ?? ?????? ? ????????? ???????
#   
# ????? ????? ?????????? ?????????? ?? ??????:
# 
# START SLAVE;
# ?????? ??????????
# 
# ??????????? ?????? ?????????? ?? ?????? ???????:
#   
# 
# 
# 
# 
# 
  








