global
  log /dev/log local0 notice
  user haproxy
  group haproxy
  daemon
defaults
  log global
  mode tcp
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen balanser :3306
  mode tcp
  balance roundrobin
  option tcplog
  server db1 10.1.1.151:3306 check port 3306
  server db2 10.1.1.152:3306 check port 3306
                                                        


