<VirtualHost *:80>
ServerAdmin vagrant@192.168.22.14
ServerName 192.168.22.14
DocumentRoot /var/www/html/localrepo/
<Directory /var/www/html/localrepo/>
Options Indexes
Order allow,deny
Allow from all
</Directory>
</VirtualHost>

<Directory /var/www/html/localrepo/>
AllowOverride None
Options None
Order allow,deny
Allow from all
</Directory>