<VirtualHost *:{{ apache_port }}>
  ServerName {{ servername }}
  DocumentRoot {{ documentroot }}
<Directory "{{ repo_dest }}">
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>
<Directory "{{ oms_prod_repo }}">
   Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>
<Directory "{{ oms_dev_repo }}">
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>
</VirtualHost>




