# {{ vhost_name }} - Virtual Host

<VirtualHost *:80>
ServerAdmin brun@localhost
ServerName {{ vhost_name }}.{{ ansible_all_ipv4_addresses[0] }}.xip.io
DocumentRoot "{{ vhost_dir }}"

    ErrorLog        /var/log/httpd/{{ vhost_name }}-error.log
    TransferLog     /var/log/httpd/{{ vhost_name }}-access.log
    CustomLog       /var/log/httpd/{{ vhost_name }}-traf.log traff
    CustomLog       /var/log/httpd/{{ vhost_name }}-combined.log combined
		    

<Directory {{ vhost_dir }}>
    Options {{ indexes }} +Includes +FollowSymLinks +MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
</Directory>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTP_USER_AGENT} ^LWP::Simple
    RewriteRule ^/.* http://%{REMOTE_ADDR}/ [L,E=nolog:1]
</IfModule>

</VirtualHost>


{% if zabbix_config is defined %}
Alias /zabbix /usr/share/zabbix

<Directory "/usr/share/zabbix">
    Options FollowSymLinks
    AllowOverride None
    Require all granted

    <IfModule mod_php5.c>
        php_value max_execution_time 300
        php_value memory_limit 128M
        php_value post_max_size 16M
        php_value upload_max_filesize 2M
        php_value max_input_time 300
        php_value date.timezone Europe/Kiev
    </IfModule>
</Directory>

<Directory "/usr/share/zabbix/conf">
    Require all denied
</Directory>

<Directory "/usr/share/zabbix/include">
    Require all denied
</Directory>

{% endif %}
